/*Header CSS*/
#menu{
    padding: 35px 0 0 0;
}
#menu ul li{
    padding: 0px;
    margin: 0px 25px 0px 25px;
    list-style-type: none;
    display: inline;
    font-family: 'Source Sans Pro';
}
#menu a{
    color: #506a85;
    text-decoration: none;
}
#logo{
    padding: 30px 0 0 0;
    display: inline;
}
#header{
    padding: 50px 0 10px 0;
}
#header_background{
    background-color: #fff;
    height: 100px;
}

/*Content CSS*/
.texto{
    padding: 4.5cm 0 0 0;
}
.texto h1{
    font-family: 'Lato', sans-serif;
    color: #506a85;
    font-weight: 600;
    font-size: 44px;
}
.texto h6{
    font-family: 'Source Sans Pro', sans-serif;
    color: #73879c;
    font-size: 22px;
}

.oi-star{
    color: #00bc9c;
    font-size: 1.75cm;
}
.oi-heart{
    color: #00bc9c;
    font-size: 1.75cm;
}
.oi-sun{
    color: #00bc9c;
    font-size: 1.75cm;
}

.about-us{
    padding: 45px 0 150px 0;
}
.about-us h1{
    font-family: 'Lato', sans-serif;
    color: #506a85;
    font-weight: 600;
    font-size: 26px; 
}
.about-us h6{
    font-family: 'Source Sans Pro', sans-serif;
    color: #73879c;
    font-size: 16px;
}

#background-grey{
    background-color: #f2f5f7;
}
.caption h1{
    font-family: 'Lato', sans-serif;
    color: #506a85;
    font-size: 20px;
}
.caption h6{
    font-family: 'Source Sans Pro', sans-serif;
    color: #73879c;
    font-size: 14px;
}
#get-in-touch{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: bold;
    
}
#get-in-touch a{
    color: #fff;
}
.padding-bot{
    padding: 0 0 350px 0;
}
.btn-success{
    background-color: #00bc9c !important;
    border-color: #00bc9c !important;
}

/*Footer CSS*/
#footer{
    background-color: #283645;
}
#copyright{
    padding: 30px 0 15px 0;
    color: #707e8c;
    text-align: center;
}